<form>
    <fieldset>
        <legend>Story information:</legend>
        Headline:<br>
        <input type="text" name="headline" ng-model="story.headline"><br>
        Name:<br>
        <input type="text" name="name" ng-model="story.author"><br><br>
        Category:
        <select ng-model="story.category">
            <option ng-repeat="category in categories">{{category.CategoryName}}</option>    
        </select><br><br>
        Body:<br>
        <textarea class="bodybox" ng-model="story.body"></textarea>
        <input type="submit" value="Submit" ng-click="postStory()">
    </fieldset>
</form>