<form action="">
    <fieldset>
        <legend>Story information:</legend>
        Headline:<br>
        <input type="text" name="headline"><br>
        Name:<br>
        <input type="text" name="name"><br><br>
        Category:
        <select>
            <option ng-repeat="category in categories">{{category.CategoryName}}</option>    
        </select><br><br>
        Body:<br>
        <textarea class="bodybox">The body of your story here....</textarea>
        <input type="submit" value="Submit">
    </fieldset>
</form>