@import url('Site.css');

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bodybox {
    width: 300px;
    height: 300px;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.button {
    width: 150px;
}

.categorybox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}






